crime_data_with_temp.csv
Crimes_-_2001_to_present.csv
crime_data_original.csv
yuval_csv.csv
.DS_Store
.idea
__pycache__
/pdf/#writeup_group38.lyx#
/data/crime_data_original.csv
/data/crime_data_with_temp.csv
